<div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <div class="ui-g form-group">
                    <div class="ui-g-12 ui-md-2">
                        <span class="md-inputfield">
                            <input type="text" pInputText [(ngModel)]="model.companyname" (keyup)="search()">
                            <label>公司名称</label>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        <span class="md-inputfield">
                            <input type="text" pInputText [(ngModel)]="model.date" (keyup)="search()">
                            <label>日期 </label>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-2">
                            <span class="md-inputfield">
                                <input type="text" pInputText [(ngModel)]="model.auditor" (keyup)="search()">
                                <label>审核人</label>
                            </span>
                        </div>
                        <div class="ui-g-12 ui-md-2">
                                <span class="md-inputfield">
                                    <input type="text" pInputText [(ngModel)]="model.operator" (keyup)="search()">
                                    <label>经办人</label>
                                </span>
                            </div>
                            <div class="ui-g-12 ui-md-2">
                                    <span class="md-inputfield">
                                        <input type="text" pInputText [(ngModel)]="model.responsibleperson" (keyup)="search()">
                                        <label>负责人</label>
                                    </span>
                                </div>    
                       
                </div>
                <p-toolbar>
                    <div class="ui-toolbar-group-left">
                        <button pButton type="button" icon="ui-icon-add" class="green-btn" (click)="newa()"></button>
                        <button pButton type="button" icon="ui-icon-update" class="orange-btn" (click)="update()"></button>
                        <button pButton type="button" icon="ui-icon-delete" class="red-btn" (click)="delete()"></button>
                    </div>
                </p-toolbar>
                <p-dataTable [value]="SellpickupList" [rows]="recordsPerPage" [paginator]="true" [pageLinks]="3"  dataKey="id" 
                             [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadLazy($event)"  (onSort)="mySort($event)"
                             [(selection)]="selectedSellpickup" [globalFilter]="gb" #dt>
                    <p-column [style]="{'width':'38px'}" selectionMode="single"></p-column>
                    <p-column field="companyname" header="公司名称"></p-column>
                    <p-column field="date" header="日期" ></p-column>
                    <p-column field="responsibleperson" header="负责人" ></p-column>
                    <p-column field="auditor" header="审核人" ></p-column>
                    <p-column field="operator" header="经办人" ></p-column>
                    
                  
                </p-dataTable>
            </div>
        </div>
    
    </div>
    
    <p-confirmDialog header="请确认" icon="ui-icon-search" width="425" acceptLabel="确定" rejectLabel="取消"></p-confirmDialog>