<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <form [formGroup]="dispatchForm" novalidate>
        <div class="card card-w-title">

            <p-panel [header]="title" [toggleable]="true">

            <div class="ui-g form-group">

                <div class="ui-g-12 ui-md-4">
                    <span class="md-inputfield">
                        <input id="billno" type="text" pInputText formControlName="billno" class="ng-dirty ng-invalid" [readonly]="!editable">
                        <label>单号</label>
                        <div class="ui-message ui-messages-error ui-corner-all" 
                        *ngIf="(dispatchForm.controls['billno'].touched || submitted) && 
                               !dispatchForm.controls['billno'].valid &&
                               dispatchForm.controls['billno'].errors?.required ">
                            *单号必填
                        </div>
                        <div class="ui-message ui-messages-error ui-corner-all" 
                        *ngIf="dispatchForm.controls['billno'].errors?.pattern">
                             *只能使用字母、数字
                        </div>
                        <div class="ui-message ui-messages-error ui-corner-all" 
                        *ngIf="dispatchForm.controls['billno'].errors?.minlength || dispatchForm.controls['billno'].errors?.maxlength">
                            *单号长度为4～30个字符
                        </div>
                    </span>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <span class="md-inputfield">
                        <p-calendar id="calendar" formControlName="date" placeholder="日期" dateFormat="yy.mm.dd" dataType="string" [locale]="en" [disabled]="!editable"></p-calendar>
                        <div class="ui-message ui-messages-error ui-corner-all" 
                        *ngIf="(dispatchForm.controls['date'].touched || submitted) && 
                               dispatchForm.controls['date'].errors?.required ">
                            *日期必填
                        </div>
                    </span>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <span class="md-inputfield">
                        <input type="text" pInputText formControlName="purchaser" [readonly]="!editable">
                        <label>油购单位</label>
                         <div class="ui-message ui-messages-error ui-corner-all" 
                        *ngIf="(dispatchForm.controls['purchaser'].touched || submitted) && 
                               dispatchForm.controls['purchaser'].errors?.required ">
                            *油购单位必填
                        </div>
                    </span>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <span class="md-inputfield">
                        <input type="text" pInputText formControlName="stockplace" [readonly]="!editable">
                        <label>配送库存地</label>
                        <div class="ui-message ui-messages-error ui-corner-all" 
                        *ngIf="(dispatchForm.controls['stockplace'].touched || submitted) && 
                               dispatchForm.controls['stockplace'].errors?.required ">
                            *配送库存地必填
                        </div>
                    </span>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <span class="md-inputfield">
                        <input type="text" pInputText formControlName="quantity" [readonly]="!editable">
                        <label>合计数量</label>
                        <div class="ui-message ui-messages-error ui-corner-all" 
                        *ngIf="(dispatchForm.controls['quantity'].touched || submitted) && 
                               dispatchForm.controls['quantity'].errors?.required ">
                            *合计数量必填
                        </div>
                        <div class="ui-message ui-messages-error ui-corner-all" 
                        *ngIf=" (dispatchForm.controls['quantity'].touched || submitted) && 
                                !dispatchForm.controls['quantity'].errors?.required && dispatchForm.controls['quantity'].errors?.validateNumber ">
                            *请输入有效数字
                        </div>
                       
                    </span>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <span class="md-inputfield">
                        <input type="text" pInputText formControlName="total" [readonly]="!editable">
                        <label>油劵回笼金额</label>
                        <div class="ui-message ui-messages-error ui-corner-all" 
                        *ngIf="(dispatchForm.controls['total'].touched || submitted) && 
                               dispatchForm.controls['total'].errors?.required ">
                            *油劵回笼金额必填
                        </div>
                        <div class="ui-message ui-messages-error ui-corner-all" 
                        *ngIf=" (dispatchForm.controls['total'].touched || submitted) && 
                                !dispatchForm.controls['total'].errors?.required && dispatchForm.controls['total'].errors?.validateNumber ">
                            *请输入有效数字
                        </div>
                    </span>
                </div>
               <div class="ui-g-12 ui-md-4">
                    <span class="md-inputfield">
                        <input type="text" pInputText formControlName="dispatcher" [readonly]="!editable">
                        <label>发料员</label>
                        <div class="ui-message ui-messages-error ui-corner-all" 
                        *ngIf="(dispatchForm.controls['dispatcher'].touched || submitted) && 
                               dispatchForm.controls['dispatcher'].errors?.required ">
                            *发料员必填
                        </div>
                    </span>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <span class="md-inputfield">
                        <input type="text" pInputText formControlName="stockman" [readonly]="!editable">
                        <label>保管员</label>
                        <div class="ui-message ui-messages-error ui-corner-all" 
                        *ngIf="(dispatchForm.controls['stockman'].touched || submitted) && 
                               dispatchForm.controls['stockman'].errors?.required ">
                            *保管员必填
                        </div>
                    </span>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <span class="md-inputfield">
                        <input type="text" pInputText formControlName="accountingclerk" [readonly]="!editable">
                        <label>核算员</label>
                        <div class="ui-message ui-messages-error ui-corner-all" 
                        *ngIf="(dispatchForm.controls['accountingclerk'].touched || submitted) && 
                               dispatchForm.controls['accountingclerk'].errors?.required ">
                            *核算员必填
                        </div>
                    </span>
                </div>

                <div class="ui-g-12 ui-md-12">
                        <span class="md-inputfield">
                            
                            <div class="ui-message ui-messages-error ui-corner-all" 
                            *ngIf="submitted && 
                                   !detailsChecked ">
                                *请确保下面的明细表中每条明细记录的“泵码起数”、“泵码止数”、“数量”字段为有效数字
                            </div>
                        </span>
                    </div>

                <div class="ui-g-12 ui-md-12">
                    <div>
                        <p-toolbar>
                            <div class="ui-toolbar-group-left">
                                <button pButton type="button" icon="ui-icon-add" class="green-btn" (click)="addDispatchDetail()"></button>
                                <button pButton type="button" icon="ui-icon-delete" class="red-btn" (click)="deleteDispatchDetail()"></button>
                            </div>
                        </p-toolbar>
                         <p-dataTable [value]="details" [editable]="yesorno" dataKey="id" [(selection)]="selectedDetail" #dt>
                            <p-column [style]="{'width':'38px'}" selectionMode="single"></p-column>
                             <p-column field="id" header="id" hidden="true" ></p-column>
                            <p-column field="oilname" header="油品名称" [editable]="true"></p-column>
                            <p-column field="unit" header="单位" [editable]="true"></p-column>
                            <p-column field="startdegree" header="泵码起数" [editable]="true"></p-column>
                            <p-column field="enddegree" header="泵码止数" [editable]="true"></p-column>
                            <p-column field="quantity" header="数量" [editable]="true"></p-column>
                            <p-column field="confirmation" header="购油单位确认" [editable]="true"></p-column>
                        </p-dataTable>
   
                    </div>
                </div>
            </div>
            </p-panel>
            <p-toolbar>
                <div class="ui-toolbar-group-left">
                    <button pButton type="button" icon="ui-icon-save" class="green-btn" (click)="onSubmit()"></button>
                    <button pButton type="reset" icon="ui-icon-autorenew" class="orange-btn"></button>
                     <button pButton type="button" icon="ui-icon-check" class="pink-btn" (click)="onAudited()"></button>
                </div>
            </p-toolbar>
        </div>
        </form>
    </div>
</div>
